# General
values.yaml
dockerfiles/
Dockerfile
.gitlab-ci.yml
README.md
# git
.git
.gitattributes
.gitignore
# Node
## Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

## Dependency directories
node_modules/